.container {
  padding: 16px;
}

hr {
  color: black;
  margin: 16px 0;
}

.MuiInput-root {
  color: var(--color-primary);
  margin: 16px 0;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }

}
