.page-navigator__button {

  &--down {
    position: fixed;
    bottom: 36px;
    right: 48px;
    &:hover {
      opacity: 0.75;
    }
  }

  &--up {
    position: fixed;
    bottom: 36px;
    right: 72px;
    &:hover {
      opacity: 0.75;
    }
  }

}
