nav {
  position: fixed;
  width: 100%;
  z-index: 3;

  .navbar__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px 24px;
    opacity: 0.9;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;

    &.background-default {
      background-color: var(--navbar-scrolled-background);
      box-shadow: rgba(255, 255, 255, 0.08) 0 1px 0;
    }

    ul {
      display: flex;
      justify-content: center;

      &.navbar__right {

        svg:hover {
          opacity: 0.75;
        }

        li {
          margin: 0 8px;
        }
      }

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 4px;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
