:root {
  --color-primary: #cecdcd;
  --color-primary--hover: #068ac4;
  --color-background: #0e141b;
  --color-background-second: #1d212a;
  --font-size-xs: 8px;
  --font-size-s: 10px;
  --font-size-m: 13px;
}

html, body {
  box-sizing: border-box;
  font-size: var(--font-size-m);

  a {
    color: inherit;
  }

  &, p, ul {
    padding: 0;
    margin: 0;
  }

  -ms-overflow-style: none;  // Internet Explorer 10+
  scrollbar-width: none;  // Firefox

  &::-webkit-scrollbar {
    display: none;  // Safari and Chrome
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
}

html {
  height: -webkit-fill-available;
}

body {
  background: var(--color-background);
  color: var(--color-primary);
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
}
