nav {
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;

    li {
      margin: 0 4px;
    }
  }
}

footer {
  justify-self: flex-end;
  font-size: 0.5rem;
  opacity: .5;
}
